<article class="smallPost">
    <div class="title">
        <a href="/post/{{id}}">
            <h3>{{title}}</h3>
        </a>
        by {{user.username}} on {{format_date created_at}}
    </div>
    <div class="smallPostText">
        {{text}}
    </div>
    click title for more
</article>